
<div class="card-container", data-search-unicorns-target="unicorn">
  <% @unicorns.each do |unicorn| %>
  <div class="unicorn-card" >

    <%= link_to (image_tag unicorn.image_url), unicorn_path(unicorn) %>
    <div class="unicorn-card-infos">
      <div>
        <h2 class="unicorn-name"><%= link_to unicorn.name, unicorn_path(unicorn) %></h2>
        <p><%= unicorn.description %></p>
        <p><%= unicorn.address %></p>
      </div>
      <h2 class="unicorn-card-pricing"><%= unicorn.price %> €</h2>
    </div>
    <div class="tags">
    <% unicorn.tags.each do |t| %>
    <span><%= t.name %></span>
    <% end %>
    </div>
  </div>

  <% end %>
</div>
