
<div class="card-container", data-search-unicorns-target="unicorn">
  <% @unicorns.each do |unicorn| %>
  <div class="unicorn-card" >
    <%= link_to (image_tag unicorn.image_url), unicorn_path(unicorn) %>
    <div class="unicorn-card-infos">
      <div>
        <h2 class="unicorn-name"><%= link_to unicorn.name, unicorn_path(unicorn) %></h2>
        <p><%= unicorn.description %></p>
        <p><%= unicorn.address %></p>
      </div>
      <h2 class="unicorn-card-pricing"><%= unicorn.price %> € / Day</h2>
    </div>
    <div class="tags">
    <% unicorn.tags.first(4).each do |t| %>
      <span><%= t.name %></span>
    <% end %>
    <% if unicorn.tags.size > 4 %>
      <span> + <%= unicorn.tags.size - 4 %></span>
    <% end %>
    </div>
    <div class="review-average">
      <% if unicorn.reviews.size >= 1 %>
        <span><%= unicorn.average_reviews %></span>
        <i class="fa-solid fa-star fa-lg" style="color: #ffdd00;"></i>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
