<div class="container">

  <%= simple_form_for @unicorn do |f| %>
  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.submit %>
  <% end %>

</div>
