<div class="container">

  <%= simple_form_for @unicorn do |f| %>
  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.input :description , input_html: { maxlength: 200, size: 40}%>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.submit %>
  <% end %>

</div>
