<h1>Index</h1>
<h2>Hear is yours unicorns selections:</h2>


<% @unicorns.each do |unicorn| %>
<%= unicorn.image_url %>
<%= unicorn.name %>
<%= unicorn.description %>
<%= unicorn.location %>
<%= unicorn.price %>
<% end %>
