<div class="container">

  <h1>Resgister your Unicorn</h1>

  <%= simple_form_for @unicorn do |f| %>
  <%= f.input :name %>
  <%= f.input :description, hint: "between 10 and 200 characters"%>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :image_url %>
  <%= f.submit %>
  <% end %>

</div>
