<div class="container">

  <div class="product">
    <div class="product-info">
      <div class="name-and-rank">
        <h1><%= @unicorn.name %></h1>
        <% if @unicorn.average_reviews > 1 %>
        <div class="average-rank">
          <span class="rank"><%= @unicorn.average_reviews %></span>
          <i class="fa-solid fa-star fa-lg" style="color: #ffdd00;"></i>
        </div>
        <% end %>
      </div>
      <div class="descrp">
        <h5>Description:</h5>
        <p><%= @unicorn.description %></p>
      </div>
      <div class="adress">
        <h5>Address:</h5>
        <p><%= @unicorn.address %></p>
      </div>
      <div class="price">
        <h5>Price : <%= @unicorn.price %> € / day</h5>
      </div>
      <div class="tags-show">
        <% @unicorn.tags.first(4).each do |i| %>
        <span class="tag"><%= i.name %></span>
        <% end %>

        <% if @unicorn.tags.size > 4 %>
        <span class="tag"> + <%= @unicorn.tags.size - 4 %></span>
        <% end %>

        <% if @unicorn.tags.size == 0 %>
        <span>Add tag</span>
        <% end %>

        <span class="tag"><%= link_to "+", new_unicorn_unicorn_tag_path(@unicorn) %></span>


        <% if current_user == @unicorn.user %>
          <% unless @unicorn.tags.size == 0 %>
            <%= link_to "delete all tags", unicorn_unicorn_tag_path(@unicorn), data: { "turbo-method": :delete }, class: "btn btn-dark"%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="product-image">
      <%= image_tag @unicorn.image_url %>
    </div>
  </div>

  <div class="separation"></div>

  <div class="flatpicker">

  <%= simple_form_for [@unicorn, @booking], data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } }%>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: "end_time" }%>
    <% if user_signed_in? %>
    <%= f.submit "Get me Unicorn !", class: "book-btn" %>
    <% else %>
    <button class="must-log"><%= link_to "You need to be log in", new_user_session_path %></button>
    <% end %>
  <% end %>

  </div>

  <div class="separation"></div>

  <div class="map-container" >
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

  <div class="separation"></div>

  <div class="review-form-controller" data-controller="review-form">
    <div class="btn btn-primary" data-action="click->review-form#form" data-review-form-target="bouton">Add a review</div>

    <div class="container d-none" data-review-form-target="review">
      <div class="row">
        <div class="col-xs-4">
          <%= simple_form_for [@unicorn, @review] do |f| %>
            <%= f.input :content %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
            <%= f.submit "Send your review" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <h4>Last reviews:</h4>
  <ul>
    <% @reviews.each do |review| %>
      <li>
      <%= review.rating %>
      <%= review.user.full_name %>
      <%= review.content %>
      </li>
    <% end %>
  </ul>

    <div class="separation"></div>

    <% if policy(@unicorn).edit? %>
    <div class="btn btn-warning"><%= link_to "update unicorn", edit_unicorn_path %></div>
    <% end %>
    <% if policy(@unicorn).destroy? %>
    <div class="btn btn-danger"><%= link_to "destroy unicorn", unicorn_path(@unicorn), data: {turbo_method: :delete, turbo_confirm: "Delete #{@unicorn.name}?"} %></div>
    <% end %>
</div>

<% console %>
