<div class="container">

  <h1>Show page Unicorn !!!</h1>


  <%= image_tag @unicorn.image_url %>
  <h1><%= @unicorn.name %></h1>
  <h3><%= @unicorn.price %> €</h3>
  <p><%= @unicorn.description %></p>
  <p><%= @unicorn.location %></p>


  <%= simple_form_for [@unicorn, @booking], data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } }%>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: "end_time" }%>
    <%= f.submit "Get me Unicorn !"%>
  <% end %>

  <div class="separation"></div>

  <div class="review-form-controller" data-controller="review-form">
    <div class="btn btn-primary" data-action="click->review-form#form" data-review-form-target="bouton">Add a review</div>

    <div class="container d-none" data-review-form-target="review">
      <div class="row">
        <div class="col-xs-4">
          <%= simple_form_for [@unicorn, @review] do |f| %>
            <%= f.input :content %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
            <%= f.submit "Send your review" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <h4>Last reviews:</h4>
  <ul>
    <% @reviews.each do |review| %>
      <li>
      <%= review.rating %>
      <%= review.user.full_name %>
      <%= review.content %>
      </li>
    <% end %>
  </ul>

    <div class="separation"></div>

    <% if policy(@unicorn).edit? %>
    <div class="btn btn-warning"><%= link_to "update unicorn", edit_unicorn_path %></div>
    <% end %>

</div>
