<h1>Show page Unicorn !!!</h1>


<%= image_tag @unicorn.image_url %>
<h1><%= @unicorn.name %></h1>
<h3><%= @unicorn.price %></h3>
<p><%= @unicorn.description %></p>
<p><%= @unicorn.location %></p>


<%= simple_form_for [@unicorn, @booking] do |f| %>
<%= f.input :start_date%>
<%= f.input :end_date%>
<%= f.submit %>
<% end %>
