<div class="container" data-controller="timer">

  <div class="btn btn-primary" data-action="click->timer#startTimer" data-timer-clock-value="play">LET'S GO</div>

  <h3>Timer</h3>
  <div id="timer" data-timer-target="timer"><%= @timer %></div>

  <div class="btn btn-primary" data-action="click->timer#stopTimer" data-timer-clock-value="stop">STOP</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <h1>Timer: <%= @timer %></h1>
  <button class="toggle">Play</button>

  <div class="m-5 p-5">
    <%= form_with method: :get do |form| %>
      <%= form.check_box @unicorn.name %>
      <%= form.label @unicorn.name %>
      <%= form.check_box @unicorn.price %>
      <%= form.label @unicorn.price %>
      <%= form.check_box @unicorn.description.first(12) %>
      <%= form.label @unicorn.description.first(12) %>
      <%= form.check_box @unicorn.address.first(12) %>
      <%= form.label @unicorn.address.first(12) %>
      <%= form.submit "Answer" %>
    <% end %>
  </div>
</div>
<% console %>
