<h1>Your bookings of Unicorns</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.unicorn.name %> | from <%= booking.start_date %> to <%= booking.end_date %> | <%= booking.number_of_days %> days for a total of <%= booking.total_price %> €</li>
  <% end %>
</ul>
